@import "settings/base";
@import "settings/variable";
@import "components/header";
@import "components/button";
@import "components/form";
@import "components/typography";
@import "components/section-works";
@import "components/section-news";

@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/font-radio/RoadRadio.ttf");
  src: url("../fonts/font-radio/RoadRadio-Light.ttf");
}

@font-face {
  font-family: "RoadRadio Light";
  src: url("../fonts/font-radio/RoadRadio-Light.ttf");
}

.header {
  height: 80rem;
  background-image: url('../img/dom-bg.png');
  background-size: 140% 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  position: relative;
  z-index: 0;
}

.frame__house {
  width: 100%;
  position: absolute;
  top: 0;
  height: 80rem;
  background-image: url("../img/dom.png");
  background-size: 140% 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  z-index: 1;
}

.work__img-small {
  display: block;
  width: 100%;
  height: 33.33%;

  &--1 {
    background: linear-gradient(
                    rgba($orange, 0.45),
                    rgba($orange, 0.45)
    ),
    url("../img/work-roof-2.png");
    background-size: 105%;
    -webkit-transition: background-size 2s ease-out;
    transition: background-size 2s ease-out;

    &:hover {
      background-size: 110%;
    }
  }

  &--2 {
    background: linear-gradient(
                    rgba($orange, 0.45),
                    rgba($orange, 0.45)
    ),
    url("../img/work-roof-3.png");
    background-size: 105%;
    -webkit-transition: background-size 2s ease-out;
    transition: background-size 2s ease-out;

    &:hover {
      background-size: 110%;
    }
  }

  &--3 {
    background: linear-gradient(
                    rgba($orange, 0.45),
                    rgba($orange, 0.45)
    ),
    url("../img/work-roof-4.png");
    background-size: 105%;
    -webkit-transition: background-size 2s ease-out;
    transition: background-size 2s ease-out;

    &:hover {
      background-size: 110%;
    }
  }
}


