
.nav::after {
  content: "";
  display: block;
  clear: both;

}

.nav__list {
  width: 66.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 780px) {
    flex-direction: column;
    background: rgba($orange, .5);
    width: 108%;
    margin-left: -4rem;
    justify-content: center;
    z-index: 10;

  }
}

.nav__item {
  line-height: 2.5rem;
  z-index: 10;

  @media screen and (max-width: 780px) {
    display: inline-flex;
    justify-content: center;
    width: 80%;
    z-index: 10;

    &:not(:last-child) {
      border-bottom: 1px dashed #fff;
    }

    &:hover {
      border-bottom: 1px dashed $orange;
    }

  }
}


.nav__left {
  width: 8.33%;
  float: left;
}

.nav__img {
  width: 100%;
}

.nav__right {
  width: 89.23%;
  float: right;
}

.nav__svg {
  padding: .3rem 0;
}

.nav__link {
  font-size: 1.6rem;
  color: #fff;
  line-height: 100%;
  transition: all .2s;

  &:first-child {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;

    @media screen and (max-width: 780px) {
      padding: 2rem;
    }
  }

  @media screen and (max-width: 780px) {
    padding: 2rem;

    &:hover {
      color: $orange;
    }
  }
}

.nav__top {
  padding: 2rem 0;
  display: flex;
  border-bottom: 1px dashed #fff;

  @media screen and (max-width: 780px) {
    flex-direction: column;
  }
}

.nav__bottom {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.nav__bottom-left {
  display: flex;
  width: 50rem;

  @media screen and (max-width: 780px) {
    display: flex;
    width: 70%;
    justify-content: flex-start;
  }
}

.nav__bottom-right {
  z-index: 5;

  @media screen and (max-width: 780px){
    width: 40%;
    margin-top: -.5rem;
    padding: 0 1rem;
  }
}


.nav__number {
  display: block;
  vertical-align: middle;
  padding: 5% 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  z-index: 10;

  @media screen and (max-width: 780px) {
    padding: 2% 0;
    font-size: 1.4rem;
  }

  @media screen and (max-width: 480px) {
    padding: 2% 0;
    font-size: 1.2rem;
  }
}


/*Orange Border*/

.frame {
  position: absolute;
  top: 22rem;
  left: 0;
  width: 100%;
  height: 58rem;
  border: 9px solid $orange;

  @media screen and (max-width: 780px) {
    width: 97%;
    margin: 0 1rem;
  }
}

.arrow::before {
  position: absolute;
  top: 22rem;
  left: -1.1rem;
  color: greenyellow;
  z-index: 20;
}

.arrow {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .2rem;
    position: absolute;
    top: 23rem;
    left: -1.1rem;
    width: 1.7rem;
    height: 7rem;
    z-index: 5;

  @media screen and (max-width: 780px)  {
    top: 1rem;
    left: 1rem;
    z-index: 15;
    background-color: rgba(0,0,0, 0.05);
    border-radius: 3px;
  }

  &__img {
    transition: all .2s;
    transform: scale(1.01);
  }

  &__img:hover {
    color: $orange;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
  }
}


@media screen and (max-width: 780px) {
  .nav__item {

    &:not(:last-child) {
      display: none;
    }

  }
}

.header__burger {
  padding: 3% 2%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  display: none;
  z-index: 10;

  @media screen and (max-width: 780px) {
    display: block;
    position: absolute;
    right: 1rem;
    top: 2rem;
  }
}

.header__strip {
  display: block;
  width: 2rem;
  height: 2px;
  background-color: #fff;
}

.header__strip::before {
  top: -.7rem;
}

.header__strip::after {
  bottom: -.5rem;
}

.header__strip::before,
.header__strip::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: inherit;
  position: relative;
}
