.arrow-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3rem;
}

.svg-block {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.svg__left, .svg__right, .js-arrow-left, .js-arrow-right {
  cursor: pointer;

  @media screen and (max-width: 480px) {
    width: 70%;
  }
}

.svg__left image, .svg__right image, .js-arrow-left image, .js-arrow-right image {

  @media screen and (max-width: 480px) {
    width: 62%;

  }
}