/*---Field FORM---*/

input, button {
  border: 0;
}

.nav__search {
  width: 27%;
  height: 50%;
  background-color: rgba(255,255,255, .2);
  border-radius: 1.4rem;
  display: inline-block;
  margin-right: 21%;
  padding: 1rem;
  z-index: 5;

  @media screen and (max-width: 780px) {
    width: 87%;
    margin-right: 0;
    padding: .6rem;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 480px) {
    width: 80%;
    margin-right: 0;
    padding: .3rem;
    margin-bottom: 2rem;
  }
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__button {
  outline: none;
  width: 15%;
  height: 2.3rem;
  background-color: rgba(0,0,0, .01);
  padding-right: .5rem;
}


.nav__magnify {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;

  //@media screen and (max-width: 780px) {
  //  width: 2.2rem;
  //  height: 2.2rem;
  //  padding: .6rem;
  //}
}

.fas {
  font-size: 2rem;

  @media screen and (max-width: 780px) {
    font-size: 1.8rem;
  }
}

.fa-search::before {
  content: "\f002";
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.fa-search:hover::before {
  color: rgba(255,255,255, .8);
}

.form__button:hover i {
  color: #ccc;
}

.form__text {
  width: 85%;
  font-family: "RoadRadio Light";
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: rgba(0,0,0, .01);
  color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255, .25);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, .25);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, .25);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, .25);
}

// Popup form

.form__btn {
  width: 30%;
  height: 4rem;
  margin: 0 auto;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-color: #503B50;
  margin-top: 5%;
  box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
  transition: all .2s;

  & span {
    line-height: 4rem;
    color: $white;
    font-family: "RoadRadio Light";
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &:hover {
    background-color: rgba(#503B50, .8);
    box-shadow: 0 1rem 1.5rem rgba(0,0,0, .15);
    transform: translateY(-1px);
  }

  &:active {
    background-color: rgba(#503B50, .9);
    box-shadow: 0 1rem 1rem rgba(0,0,0, .2);
    transform: translateY(1px);
  }
}

body {
  position: relative;
}

.form-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__text--popup {
  width: 60%;
  height: 4rem;
  margin-bottom: 3%;
  font-family: "RoadRadio Light";
  font-size: 1.2rem;
  background-color: rgba(#503B50, .3);
  border-radius: .5rem;
  color: $white;
  padding-left: 1%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .8);
  z-index: 5;
  display: none;

}

.popup {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  border-radius: .5rem;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background: $orange;
  color: $white;
}

.close-popup {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    background-color: $white;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

.js-order {
  cursor: pointer;
}



//.active-popup {
//  display: block;
//  z-index: 5;
//}
//
//
//.blur-popup {
//  -webkit-filter: blur(5px);
//  filter: blur(5px);
//}


