.section-private {
  padding-top: 10rem;
  background-color: #F3F3F3;

  @media screen and (max-width: 780px) {
    padding-top: 7rem;
  }

  @media screen and (max-width: 480px) {
    padding-top: 5rem;
  }

  .heading-primary {

    @media screen and (max-width: 480px) {
      font-size: 2.4rem;
    }
  }

  .heading-primary::after {
    top: 5.6rem;
    left: 22rem;

    @media screen and (max-width: 480px) {
      top: 3.8rem;
      left: 10rem;
    }
  }

  .wrapper__item {

    @media screen and (max-width: 480px) {

      &:nth-child(7) {
        background-color: $orange;
        color: $white;
      }

      &:last-child {
        background-color: $grey;
        color: $orange;
      }
    }

  }

}

.wrapper {
  width: 100%;
  height: 62rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  transition: all .6s ease-in-out;

  @media screen and (max-width: 780px) {
    height: 100%;

  }

  @media screen and (max-width: 480px) {
    height: 100%;
  }

  &__svg {
    //background-color: greenyellow;
  }

  &__item {
    width: 25%;
    height: 50%;
    transform: none;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: $grey;
    text-align: center;
    transition: all .6s ease-in-out;
    color: $white;

    @media screen and (max-width: 780px) {
      width: 33.33%;
      height: 26rem;
      padding: 2rem;
    }

    @media screen and (max-width: 480px) {
      width: 50%;
      padding: 0 1rem;
      height: 25rem;
    }

    &:nth-child(odd) {
      background-color: $grey;
      justify-content: flex-end;
      padding-bottom: 4rem;
      color: $orange;

      @media screen and (max-width: 480px) {
        padding-bottom: 0;
      }
    }

    &:nth-child(even) {
      background-color: $orange;
    }
    &:nth-child(3) {
      background-color: $orange;
      color: $white;
      justify-content: flex-start;
      padding-top: 6%;

      @media screen and (max-width: 480px) {
        padding-top: 0;
      }

      & svg {
        margin-top: 15%;

        @media screen and (max-width: 480px) {
          margin-top: 0;
        }
      }
    }
    &:nth-child(4) {
      background-color: $grey;
      justify-content: flex-end;
      padding-bottom: 4rem;
      color: $orange;
      padding-left: 2rem;
      padding-right: 2rem;

      @media screen and (max-width: 480px) {
        padding-bottom: 0;
      }

      & svg {
        margin-bottom: 20%;

        @media screen and (max-width: 480px) {
          margin-bottom: 0;
        }
      }
    }

    &:nth-child(6) {
      justify-content: flex-start;
      padding-top: 6%;

      @media screen and (max-width: 480px) {
        padding-top: 0;
      }

      & svg {
        margin-top: 2.6rem;

        @media screen and (max-width: 480px) {
          margin-top: 0;
        }
      }
    }

    &:nth-child(7) {
      & svg {
        margin-bottom: 25%;

        @media screen and (max-width: 480px) {
          margin-bottom: 0;
        }
      }
    }

    &:last-child {
      //position: absolute;
      right: 0;
      bottom: 0;
      font-family: "RoadRadio Bold";

      & span {
        font-family: "RoadRadio Bold";
        font-size: 2.6rem;

        @media screen and (max-width: 780px) {
          font-size: 2.2rem;
        }

        @media screen and (max-width: 480px) {
          font-size: 1.8rem;
        }
      }
    }
    span {
      font-size: 2.1rem;
      text-transform: uppercase;

      @media screen and (max-width: 980px) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 1.6rem;
      }
    }
  }

  & > svg {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: all .6s ease-in-out;

  }
  img {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 780px) {
      width: 100%;
      height: auto;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
      height: auto;
    }
  }
}

.wrapper__block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--bold {
    width: 70%;
  }

  @media screen and (max-width: 780px) {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  @media screen and (max-width: 480px) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}







