.section-news {
  padding-top: 10rem;
  background-color: #F3F3F3;

  @media screen and (max-width: 780px) {
    padding-top: 5rem;
  }

  @media screen and (max-width: 480px) {
    padding: 5rem 1rem 0 1rem;

  }

  .heading-primary::after {
    display: none;
  }
}

.news {

  &__text {
    display: flex;
    justify-content: flex-end;
  }

  &__wrap{
    //display: flex;
    //justify-content: space-between;

    @media screen and (max-width: 480px) {
      display: block;
    }
  }

  &__block {
    width: 25.37%;

    @media screen and (max-width: 780px) {
      width: 31%;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 1.3rem;
  }
}

.arrow-h--news {
  top: 11rem;

  @media screen and (max-width: 480px) {
    position: absolute;
    right: 2rem;
    top: 4rem;
  }
}

.news__wrap.slick-track {
  display: flex;
  justify-content: space-between;
}

.news__block.slick-slide {
  width: 305px;
  margin: 0 3.5rem;
}

//.news__block.slick-slide:nth-child(3) {margin-right: 0;}


.news__block.slick-slide {

  @media screen and (max-width: 480px) {
    margin-right: 3rem;
  }

  @media screen and (max-width: 480px) {
    margin-right: 0;
  }
}