.section-works {
  padding-top: 10rem;
  background-color: #F3F3F3;

  @media screen and (max-width: 780px) {
    padding-top: 5rem;
  }

  @media screen and (max-width: 480px) {
    padding: 5rem 1rem 0 1rem;
  }

  .heading-primary::after {
    display: none;
  }
}

.work {

  &__text {
    display: flex;
    justify-content: space-between;
  }

  &__picture-wrap {
    margin-bottom: 3rem;
    width: 100%;
    height: 52.5rem;

    @media screen and (max-width: 780px) {
      height: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__picture-big {
    width: 85.4%;
    height: 100%;
    float: left;

    @media screen and (max-width: 780px) {
      width: 100%;
      float: none;
    }
  }

  &__img-big {
    width: 100%;
    height: 100%;
  }

  &__picture-small {
    display: block;
    width: 14.6%;
    height: 52.5rem;
    float: left;

    @media screen and (max-width: 780px) {
      display: flex;
      width: 100%;
      height: 20rem;
    }
  }

  &__img-small {
    //background and other styles look at main.scs
  }
}

