
.heading-box {
  @include center-flex;
}

.heading-wrap {
  margin-top: 12rem;

  @media screen and (max-width: 674px) {
    margin-top: 5rem;
  }
}

.logo {
  width: 85%;

  @media screen and (max-width: 480px) {
    width: 95%;
  }

  & svg {
    width: 100%;
  }

  & svg image {
    width: 100%;
    height: 100%;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.header { //смотри стили в main.scss
  width: 100%;
  display: flex;

  @media screen and (max-width: 480px) {
    height: 60vh;
  }

  &__left {
    background-color: $white;
    width: 24%;
    position: relative;

    @media screen and (max-width: 780px) {
      width: 30%;
    }

    @media screen and (max-width: 674px) {
      width: 33%;
    }
  }

  &__icons {
    width: 100%;
    height: 12.6rem;
  }

  &__block {
    background-color: $blue;
    position: absolute;
    top: 12.6rem;
    left: 0;
    width: 111.5%;
    height: 79.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

  }

  &__right {
    width: 76%;
    display: flex;

    @media screen and (max-width: 780px) {
      width: 70%;
    }

    @media screen and (max-width: 674px) {
      width: 67%;
    }
  }

  &__empty {
    width: 41.4%;
    background-color: #0000004a;

    @media screen and (max-width: 1100px) {
      width: 20%;
    }

    @media screen and (max-width: 980px) {
      width: 15%;
    }

    @media screen and (max-width: 674px) {
      width: 10%;
    }
  }

  &__full {
    width: 58.6%;
    padding: 2rem 4% 2rem 1%;
    position: relative;
    background-color: #0000004a;

    @media screen and (max-width: 1100px) {
      width: 80%;
    }

    @media screen and (max-width: 980px) {
      width: 85%;
    }

    @media screen and (max-width: 674px) {
      width: 90%;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and(max-width: 674px) {
      display: none;
    }
  }

  &__item {

  }

  &__link {
    height: 100%;
    text-transform: capitalize;
    font-family: "AvenirNext Regular", sans-serif;
    color: $white;
    font-size: 2rem;
    padding-top: 0.6rem;
    border-top: 14px solid transparent;
    transition: all .3s;

    @media screen and (max-width: 1100px) {
      font-size: 1.8rem;
    }

    @media screen and (max-width: 980px) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: 780px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 674px) {
      font-size: 1.8rem;
      display: block;
      padding: 5.1% 0;
      border: 1px solid $white;
      background-color: #7392A5;
      border-top: 2px solid transparent;

      &:hover {
        border-top: 2px solid $blue;
      }
    }

    &:hover {
      border-top: 14px solid $blue;
    }
  }

  /* _________HAMBURGER__________*/

  &__burger {
    padding: 5% 3%;
    cursor: pointer;
    background-color: rgba(#000, .4);
    display: none;

    @media screen and(max-width: 674px) {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__strip {
    width: 18px;
    height: 2px;
    background-color: $white;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: inherit;
      position: relative;
    }
    &::before {
      top: -.6rem;
    }
    &::after {
      bottom: -.5rem;
    }
  }



}

.nav {

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and(max-width: 674px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4rem 13%;

  @media screen and (max-width: 780px) {
    padding: 3rem 8%;
    flex-wrap: wrap;
    height: 15rem;
  }

  @media screen and (max-width: 480px) {
    padding: 1rem 8%;
    height: 13rem;
  }

  &__link {
    width: 100%;
    height: 100%;
  }

  &__icon {

    & svg {
      width: 70%;
      height: auto;

      @media screen and (max-width: 480px) {
        width: 60%;
      }
    }

    & svg image {
      width: 100%;
      height: 100%;
    }
  }
}

.email {
  width: 60%;
  height: 16%;
  background-color: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  @include center-flex;

  @media screen and (max-width: 980px) {
    width: 37%;
    height: 12%;
  }

  @media screen and (max-width: 780px) {
    width: 30%;
    height: 10%;
  }

  @media screen and (max-width: 480px) {
    width: 45%;
  }

  @media screen and (max-width: 400px) {
    height: 8%;
  }

  &__link {
    display: block;
    width: 20%;
    height: 68%;
    background-color: $blue;
    position: relative;
    box-shadow: 0 1rem 1.5rem rgba(#000, .2);

    @media screen and (max-width: 780px) {
      width: 25%;
      height: 60%;
    }

    @media screen and (max-width: 480px) {
      width: 20%;
      height: 55%;
    }

    &:not(:last-child) {
      margin-right: 2.2rem;
    }

    & svg {
      display: block;
      @include abcCenter;

      @media screen and (max-width: 780px) {
        width: 80%;
        height: auto;
      }
    }

    & svg image {

      @media screen and (max-width: 780px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}
