@import "settings/base";
@import "settings/variable";
@import "components/header";
@import "components/button";
@import "components/form";
@import "components/typography";
@import "components/section-category";
@import "components/section-works";
@import "components/arrows";
@import "components/section-news";
@import "components/section-private";
@import "components/section-profi";
@import "components/footer";

@import "components/include/navigation";
@import "components/slider-works";


@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/font-radio/RoadRadio.ttf");
}

@font-face {
  font-family: "RoadRadio Light";
  src: url("../fonts/font-radio/RoadRadio-Light.ttf");
}

@font-face {
  font-family: "RoadRadio Thin";
  src: url("../fonts/font-radio/RoadRadio-Thin.ttf");
}

@font-face {
  font-family: "RoadRadio Bold";
  src: url("../fonts/font-radio/RoadRadio-Bold.ttf");
}

@font-face {
  font-family: "RoadRadio Black";
  src: url("../fonts/font-radio/RoadRadio-Black.ttf");
}

.header {
  height: 80rem;
  background-image: url('../img/dom-bg.png');
  background-size: 140% 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  position: relative;
  z-index: 0;

  @media screen and (max-width: 780px) {
    background-size: cover;
    background-position: center center;
  }

  @media screen and (max-width: 480px) {
    height: 37rem;
  }
}

.frame__house {
  width: 100%;
  position: absolute;
  top: 0;
  height: 80rem;
  background-image: url("../img/dom.png");
  background-size: 140% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  @media screen and (max-width: 780px) {
    background-size: cover;
    background-position: center center;
  }

  @media screen and (max-width: 480px) {
    height: 37rem;
  }
}

.work__img-small {
  display: block;
  width: 100%;
  height: 33.33%;

  &--1 {
    background: linear-gradient(
                    rgba($orange, 0.45),
                    rgba($orange, 0.45)
    ),
    url("../img/work-roof-2.png");
    background-size: 105%;
    -webkit-transition: background-size 2s ease-out;
    transition: background-size 2s ease-out;

    @media screen and (max-width: 980px) {
      background-size: cover;
      height: 33.33%;
    }

    @media screen and (max-width: 780px) {
      height: 100%;
    }

    &:hover {
      background-size: 110%;
    }
  }

  &--2 {
    background: linear-gradient(
                    rgba($orange, 0.45),
                    rgba($orange, 0.45)
    ),
    url("../img/work-roof-3.png");
    background-size: 105%;
    -webkit-transition: background-size 2s ease-out;
    transition: background-size 2s ease-out;

    @media screen and (max-width: 980px) {
      background-size: cover;
      height: 33.33%;
    }

    @media screen and (max-width: 780px) {
      height: 100%;
    }

    &:hover {
      background-size: 110%;
    }
  }

  &--3 {
    background: linear-gradient(
                    rgba($orange, 0.45),
                    rgba($orange, 0.45)
    ),
    url("../img/work-roof-4.png");
    background-size: 105%;
    -webkit-transition: background-size 2s ease-out;
    transition: background-size 2s ease-out;

    @media screen and (max-width: 980px) {
      background-size: cover;
      height: 33.33%;
    }

    @media screen and (max-width: 780px) {
      height: 100%;
    }


    &:hover {
      background-size: 110%;
    }
  }

  @media screen and (max-width: 480px) {
    background-size: cover;
    //margin-top: 1rem;
  }
}

body {
  position: relative;
}





