.section-partner,
.section-works,
.section-delivery {
  background-color: $grey-bg;
  padding-top: 9rem;

  @media screen and (max-width: 780px) {
    padding: 5rem 1rem 0 1rem;
  }

  @media screen and (max-width: 480px) {
    padding: 4rem 1.5rem 0 1.5rem;
  }
}

.partner,
.works,
.delivery {
  @extend .stat;
}

.partner {

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 15rem;

    @media screen and (max-width: 780px) {
      height: 11rem;
    }

    @media screen and (max-width: 610px) {
      height: 9rem;

    }

    @media screen and (max-width: 480px) {
      height: 7rem;
    }

    @media screen and (min-width: 320px) {
      height: 6rem;
    }
  }

  &__img {
    width: auto;
    height: 40%;

    &--long {
      height: 30%;
    }

    &--height {
      height: 65%;
    }
  }
}
