
//COLORS
$dark: #303437;
$blue: #0C55D9;
$black:#101010;
$white: #fff;
$grey: #BFC5C8;
$grey-bg: #F3F3F3;
$blue-dark: #2F424C;

$blood-color: #950127;

$gutter-vertical: 0rem;
$gutter-horizontal: 3.5rem;